[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
pillow = "*"
tqdm = "*"
transformers = "*"
wandb = "*"
scikit-learn = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
